<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles/style.css">
    <script src="scripts/script.js" defer></script>
    <title>Adding Your Task</title>
</head>
<body>
    <div id="header">
        <div>
        </div>
        <h1>Add Your Task</h1>
        <button id="nav-button"><img src="images/menu2.png" width="40" alt="menu button" id="nav"></button>
    </div>
    <div class="dropdiv">
        <ul class="dropdown">
            <li><a href="add">Add Task</a></li>
            <li><a href="/">View Current Tasks</a></li>
            <li><a href="completed">Completed Tasks</a></li>
            <li><a href="deleted">Deleted Tasks</a></li>
        </ul>
    </div> 
    <div class="add-card">
        <form action = "submit-task" method = "post" id="add-form">
            <div class="add-field-div">
                <label for="title">Title</label>
                <input type = "text" name = "title" class="add-field">
            </div>            
                <p class="add-field-div err">Title is invalid</p>

            <div class="add-field-div">
                <label for="dateDue">Date Due</label>
                <input type = "date" name = "dateDue" class="add-field">
            </div>


            <div class="add-field-div">
                <label for="priority">Task Priority</label>
                    <select name = "priority" class="add-field">
                        <option value = "none">Please select</option>
                        <option value = "Low">Low Priority</option>
                        <option value = "Medium">Medium Priority</option>
                        <option value = "High">High Priority</option>
                    </select>
            </div>

            <div class="add-field-div">
                <label for="description">Description</label>
                <input type = "text" name = "description" class="add-field">
            </div>
            
            <div id="add-button-div">
                <button type = "submit" class="completed-button task-card-buttons">Submit</button>
            </div>
        </form>
    </div>

    <a href="/"><button class="delete-button go-back-on-add">Go Back</button></a>

</body>
</html>