<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles/style.css">
    <title>Adding Your Task</title>
</head>
<body>
    <h1>Add Your Task</h1>
    <div class="add-card">
        <form action = "submit-task" method = "post" id="add-form">
            <div class="add-field-div">
                <label for="title">Title</label>
                <input type = "text" name = "title" class="add-field">
            </div>            

            <div class="add-field-div">
                <label for="dateDue">Date Due</label>
                <input type = "date" name = "dateDue" class="add-field">
            </div>


            <div class="add-field-div">
                <label for="priority">Task Priority</label>
                    <select name = "priority" class="add-field">
                        <option value = "none">Please select</option>
                        <option value = "Low">Low Priority</option>
                        <option value = "Medium">Medium Priority</option>
                        <option value = "High">High Priority</option>
                    </select>
            </div>

            <div class="add-field-div">
                <label for="description">Description</label>
                <textarea name = "description" class="add-field"></textarea>
                
            </div>
            
            <div id="add-button-div">
                <button type = "submit" class="completed-button task-card-buttons">Submit</button>
            </div>
        </form>
    </div>

    <a href="/"><button class="delete-button" id="go-back-on-add">Go Back</button></a>

</body>
</html>