<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/script.js" defer></script>
    <title>Confirmation</title>
</head>
<body>
    <div id="header">
        <div>
        </div>
        <a href="/"><h1>Task Submitted</h1></a>
        <button id="nav-button"><img src="images/menu2.png" width="40" alt="menu button" id="nav"></button>
    </div>
    <div class="dropdiv">
        <ul class="dropdown">
            <li><a href="add">Add Task</a></li>
            <li><a href="/">View Current Tasks</a></li>
            <li><a href="completed">Completed Tasks</a></li>
            <li><a href="deleted">Deleted Tasks</a></li>
        </ul>
    </div> 
    <div class="add-card">
        <h3><%= newTask.title %></h3>
        
        <div class="info-div">
            <div class="value-div">
                <p class="label">Date Due: </p><p class="value"><%= newTask.dateDue %></p>
            </div>
            <div class="value-div">
                <p class="label">Priority: </p><p class="value"><%= newTask.priority %></p>
            </div>
            <div class="value-div description">
                <p class="value"><%= newTask.description %></p>
            </div>
            
        </div>
    </div>
    <a href="/"><button class="completed-button go-back-on-add">Go Back</button></a>
</body>
</html>


    