* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bg.jpg");
    background-position: 0 -2px;
    border: none;
}

/* ------------------Header------------------*/
#header {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h1 {
    display: inline-block;
    background-color: rgb(254, 247, 218);
    border: 2px solid rgb(14, 100, 26);
    border-radius: 10px;
    padding: 10px 25px;
    color: rgb(14, 100, 26);
}

#nav-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin: 0;
    background-color: rgb(254, 247, 218);
}

#nav-button:hover {
    background-color: #ffe571;
}

.left-right-header {
    width: 15%;
}

.middle-header {
    width: 70%;
}

/* ------------------Navigation dropdown------------------*/
.dropdiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    margin-right: 19px;
    background-color: rgb(254, 247, 218);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(14, 100, 26);
}

ul li {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid rgb(14, 100, 26);
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: #ffe571;
}

ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    color: rgb(14, 100, 26)

}

.dropdown li {
    display: block;
}

.dropdown {
    width: 25%;
    position: absolute;
    z-index: 999;
    display: none;
}

/* ------------------Main------------------*/
#main {
    padding: 0;
    margin: 0;
}

/* ------------------Task Cards------------------*/
#no-tasks-p {
    margin: auto;
}
.task-card {
    margin: 10px;
    margin-bottom: 0;
    border: 2px solid rgb(14, 100, 26);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffe571;
}

.task-card * {
    margin-bottom: 5px;
}

h3 {
    text-align: center;
}

.line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    background-color: rgb(254, 247, 218);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.completed-button, .delete-button {
    display: inline;
    margin-bottom: 0;
    float: right;
    margin-left: 10px;
    height: 30px;
    width: 100px;
}

.delete-button {
    background-color: red;
    color: rgb(254, 247, 218);
    border: 1px solid rgb(254, 247, 218);
    border-radius: 5px;
}

.delete-button:hover {
    background-color: rgb(175, 0, 0);
}

.completed-button {
    background-color: green;
    color: rgb(254, 247, 218);
    border: 1px solid rgb(254, 247, 218);
    border-radius: 5px;
}

.completed-button:hover {
    background-color: rgb(0, 105, 0);
}

.button-form {
    display: inline;
}

.hidden {
    display: none;
}

/* ------------------Add Card------------------*/
.add-card {
    margin: 10px;
    margin-bottom: 0;
    border: 2px solid rgb(14, 100, 26);
    border-radius: 15px;
    padding: 10px;
    background-color: #ffe571;
    font-size: 1.3rem;
}

#add-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
}

.add-field-div {
    width: 80%;
    margin: 5px auto;
    display: flex;
    align-items: center;
}

.add-field {
    background-color: rgb(254, 247, 218);
    box-sizing: border-box;
    border: 2px solid rgb(14, 100, 26);
    display: inline-block;
    width: 55%;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}

label {
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
}

.go-back-on-add {
    margin: 10px 20px;
}

.err {
    display: none;
    justify-content: flex-end;
    color: red;
}

/* ------------------Confirm Card------------------*/
.info-div {
    width: 80%;
    margin: auto;
}

.info-div p {
    display: inline-block;
    margin: 5px 0;
    
}

.value-div {
    display: flex;
    justify-content: space-between;
}

.label {
    width: 40%;
}

hr {
    margin: 5px 0;
}

/* ------------------Footer------------------*/
.footer-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/* ------------------Special Colors------------------*/
#completed-h1 {
    color: rgb(254, 247, 218);
    background-color: green;
    border-color: rgb(254, 247, 218);
}

#deleted-h1 {
    color: red;
    border-color: red;
}

/*Tablet Styles*/
@media screen and (min-width: 480px) {
    body {
        width: 70%;
        margin: auto;
    }

}

/*Desktop Styes*/
@media screen and (min-width: 960px) {
    body {
        width: 70%;
        margin: auto;
    }

    .add-field-div {
        width: 50%;
    }

    .add-field {
        width: 70%;
    }

    label {
        width: 30%;
    }

    h1 {
        padding: 10px 50px;
    }
}