#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    display: block;
}

h1 {
    display: inline-block;
}

/*Mobile Styles*/
@media screen and (max-width: 480px) {

    body {
        
    }

}

/*Tablet Styles*/
@media screen and (min-width: 480px) {

}

/*Desktop Styes*/
@media screen and (min-width: 960px) {
    
}